<%-include('../layouts/header.ejs') -%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset</title>
    <link rel="stylesheet" href="assets">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>
<body>
<style>
  body{
    background-image: url(assets/img/bg1.jfif);
    height: 100vh !important;
    background-size: cover;
    background-repeat:no-repeat;
    
  }
  .loginform{
    background-color: rgba(143, 140, 140, 0.642);
  }

</style>

<section class="vh-10 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card loginform text-white shadow-lg" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class=" mt-md-4">

              <h2 class="fw-bold mb-2 text-uppercase">Reset Password</h2>
              <p class="text-secondary-50 mb-5">Please enter your email</p>

              <form action="" method="POST">
              <div class="form-outline form-white mb-4">
                <input type="email" id="typeEmailX" class="form-control form-control-lg" placeholder="Enter Email" name="email"/>
                <br>
              <%
              if(typeof message !=='undefined'){
          
           %>
           <p class="text-white"><%= message %></p>
          
          
           <% } %>
                <br>

              <button class="btn btn-outline-light btn-lg px-5" type="submit">Send Reset Link</button>
            </form>
            </div>

           
          

          </div>
        </div>
      </div>
    </div>
  </div>
</section>



</body>
</html>